body {
    background-color: black; 
    text-align: center;
    color: azure;
    font-size: larger;
    font-size: xx-large;
    margin: 25px;
    
}
input{
    width: 10%;

}

form{
    text-align: center;
}
#Form{
    text-align: center;
}
#date{
    width: 30%;
    text-align: center;
    position: relative;
    display: center;
    justify-content: center;
    left : 35%;
}
input, #date{
    text-align: center;
}
